## Exemple de configuration (ne pas commiter .env)

# Base de données (à adapter à votre environnement)
DATABASE_URL="postgresql://cc319d77dd400747f8a961c4d5037d0fe764359aea2d1f29878efb36ce4b4248:sk_cCeJAMQE23O7eiLw_dyDx@db.prisma.io:5432/postgres?sslmode=require"

# URL de l'application
NEXTAUTH_URL="https://test-d0rmt5tiy-devienscubeur-4199s-projects.vercel.app"

# Secret d'authentification (utilisez une valeur longue et aléatoire)
NEXTAUTH_SECRET="fyVP5Zfgie1sq7KOuk5i64jqGldQ6irc6TilWfdi2W4="
# Si l'application attend AUTH_SECRET, vous pouvez aussi utiliser:
# AUTH_SECRET="change-me-with-a-long-random-string"

# Configuration email (optionnelle)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-gmail-app-password"
ADMIN_EMAIL="admin@yourcompany.com"

# Stockage (optionnel) — remplacez par vos valeurs
# URL Postgres de stockage (ex: hébergeur géré)
STORAGE_POSTGRES_URL="postgresql://cc319d77dd400747f8a961c4d5037d0fe764359aea2d1f29878efb36ce4b4248:sk_cCeJAMQE23O7eiLw_dyDx@db.prisma.io:5432/postgres?sslmode=require"
# URL Prisma Accelerate (ne mettez pas votre clé ici)
STORAGE_PRISMA_DATABASE_URL="prisma+postgres://cc319d77dd400747f8a961c4d5037d0fe764359aea2d1f29878efb36ce4b4248:sk_cCeJAMQE23O7eiLw_dyDx@db.prisma.io:5432/postgres?sslmode=require"
